# API e servidor
fastapi
uvicorn

# Requisições para APIs externas
requests

# Variáveis de ambiente
python-dotenv

# Validação de dados
pydantic

# Leitura de PDFs
pymupdf

#Gerar gráficos
matplotlib
numpy
sympy

# Google Drive API
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib

